In [2]:
import pandas as pd

In [4]:
f = pd.read_csv("shelters.csv")

In [5]:
f

,Unnamed: 0,Report_Date,Borough,Adult_Family_Shelter,Adult_Shelter,Adult_Shelter_Commercial_Hotel,Family_with_Children_Shelter
0,0,10/31/2020,Bronx,189.0,73.0,140.0,1202.0
1,1,10/31/2020,Bronx,160.0,0.0,NaN,866.0
2,2,10/31/2020,Bronx,258.0,218.0,123.0,1295.0
3,3,10/31/2020,Bronx,NaN,206.0,99.0,2134.0
4,4,10/31/2020,Bronx,203.0,0.0,NaN,1054.0
...,...,...,...,...,...,...,...
2060,2060,08/31/2021,Queens,NaN,NaN,669.0,791.0
2061,2061,08/31/2021,Queens,262.0,100.0,70.0,126.0
2062,2062,08/31/2021,Staten Island,NaN,NaN,NaN,77.0
2063,2063,08/31/2021,Staten Island,NaN,NaN,NaN,NaN
2064,2064,08/31/2021,Staten Island,NaN,NaN,NaN,NaN

In [ ]:
n_by_Borough_type =f.groupby(["state", "gender"])["last_name"].count()